body {
  margin: 0;
  background-color: #ffecb3;
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 0px 40px;
}

#title {
  font-family: flirt-script-regular,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  color: #fe0508;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#interior {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  max-height: 750px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about {
  padding-top: 6.6vmax;
  padding-bottom: 3.3vmax;
  padding-left: 6vw;
  padding-right: 6vw;
}

#about > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

#about > div > #welcome {
  font-family: letter-gothic-std,monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 1.3rem;
}

#about > div > p {
  font-style: italic;
}

#hours {
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  padding-left: 6vw;
  padding-right: 6vw;
}

.nav-btn:hover {
  color: #bc6351;
}

#food-pics-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3.3vmax;
  padding-bottom: 6.6vmax;
  padding-left: 6vw;
  padding-right: 6vw;
}

.food-pics {
  width: 23vw;
  max-width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

#hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #bcc051ba;
}

#hours #hours-title {
  font-family: letter-gothic-std, monospace;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: .2px solid black;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-end: .5em;
          margin-inline-end: .5em;
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
}

.address {
  cursor: pointer;
}

#menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  font-family: letter-gothic-std, monospace;
  font-weight: 600;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 8vmin;
          padding-inline-start: 8vmin;
  -webkit-padding-end: 8vmin;
          padding-inline-end: 8vmin;
}

ul li {
  font-size: 1rem;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30vmax 1fr;
      grid-template-columns: 1fr 30vmax 1fr;
  grid-auto-rows: minmax(30px, auto);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5vmax;
  padding-bottom: 1.1vmax;
}

ul li > .item {
  margin-right: auto;
  width: 100%;
  justify-self: flex-start;
  text-align: end;
  font-weight: 700;
}

ul li > .price {
  margin-left: auto;
  width: 100%;
}

ul li > .description {
  margin: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

ul > li:nth-child(1) {
  padding-top: 3.3vmax;
}

#menu-title {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */