 $background-color: #ffecb3;
 $neon-sign-color: #fe0508;
 $nav-hover-color: #bc6351;
 $dark-yellow: #feb455;
 $header-font: letter-gothic-std,monospace;
 $light-blue: #6feada61;
 $green:#bcc051ba;
 $dark-green-item-color: #495346;
 $ul-color: #a6034d;


 body { 
     margin:0;
     background-color: $background-color;
     font: {
        family: letter-gothic-std, monospace;
        weight: 400;
        style: normal;
     }
 }
       
 #nav {
     display: flex;
     flex-direction: row;
     gap:10px;

     font: {
         weight: 600;
     }

     cursor:pointer;
 }

 #header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 20px 20px 0px 40px;
 }
 
#title {
    font: {
        family:flirt-script-regular,sans-serif;
        weight: 600;
        style: normal;
        size: 60px;
    }
    color: $neon-sign-color;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#interior {
    width: 100vw;
    object-fit: cover;
    height: 100%;
    // max-width: 850px;
    max-height: 750px;
}

#main {
    display: flex;
    justify-content: center;
}
 
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: row;
}

#about {
    padding-top: 6.6vmax;
    padding-bottom: 3.3vmax;
    padding-left: 6vw;
    padding-right: 6vw;

    > div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > #welcome {
            font-family: letter-gothic-std,monospace;
            font-weight: 700;
            font-style: italic;
            font-size: 1.3rem;

        }

        >p {
            font-style: italic;
        }
    }

}

#hours {
    padding-top: 6.6vmax;
    padding-bottom: 6.6vmax;
    padding-left: 6vw;
    padding-right: 6vw;
}

.nav-btn {
    &:hover {
        color: $nav-hover-color;
    }
}

#food-pics-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3.3vmax;
    padding-bottom: 6.6vmax;
    padding-left: 6vw;
    padding-right: 6vw;
}

.food-pics {
    width: 23vw;
    max-width: 280px;
    object-fit: cover;
    // height: 100%;
    // height: 3vh;
}

#hours {
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: $green;

    #hours-title {
        font-family: $header-font;
        font-weight: 600;
        font-size: 1.3rem;
        border-bottom: .2px solid black;
    }

}

p {
    display: flex;
    margin-inline-end: .5em;
    margin-block-end: .5em;
}

.address {
    cursor: pointer;
}

#menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

ul {
    font-family: $header-font;
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 8vmin;
    padding-inline-end: 8vmin;
    color: $ul-color

    li {
        font-size: 1rem;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 30vmax 1fr;
        grid-auto-rows: minmax(30px, auto);
        flex-direction: row;
        gap: 5vmax;
        padding-bottom: 1.1vmax;
        color: black;

        .item {
            margin-right: auto;
            width: 100%;
            justify-self: flex-start;
            text-align: end;
            font-weight: 700;
        }
        
        .price {
            margin-left: auto;
            width: 100%;
        }
        
       .description {
            margin: auto;
            align-self: flex-start;
            width: 100%;

        }
    }

    > li:nth-child(1){
        padding-top: 3.3vmax;
    }
}

#menu-title {
    font-size: 1.5rem;
}