body {
  margin: 0;
  background-color: #ffecb3;
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 5px 40px;
  background-color: #ffecb3;
  z-index: 1;
}

#title {
  font-family: flirt-script-regular,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  color: #fe0508;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#interior {
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  max-height: 750px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#about {
  padding-top: 6.6vmax;
  padding-bottom: 3.3vmax;
  padding-left: 6vw;
  padding-right: 6vw;
}

#about > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

#about > div > #welcome {
  font-family: letter-gothic-std,monospace;
  font-weight: 700;
  font-style: italic;
  font-size: 1.3rem;
}

#about > div > p {
  font-style: italic;
}

#hours {
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  padding-left: 6vw;
  padding-right: 6vw;
}

.nav-btn:hover {
  color: #bc6351;
}

#food-pics-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3.3vmax;
  padding-bottom: 6.6vmax;
  padding-left: 6vw;
  padding-right: 6vw;
  overflow: hidden;
}

#food-pics-wrapper .food-pics {
  width: 23vw;
  max-width: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

#food-pics-wrapper .food-pics:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 1px 6px 0px #4f3b3b;
          box-shadow: 0px 1px 6px 0px #4f3b3b;
}

#hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #bcc051ba;
}

#hours #hours-title {
  font-family: letter-gothic-std, monospace;
  font-weight: 600;
  font-size: 1.3rem;
  border-bottom: .2px solid black;
}

p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-end: .5em;
          margin-inline-end: .5em;
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
}

.address {
  cursor: pointer;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.address:hover {
  border-bottom: .2px solid black;
}

#menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  font-family: letter-gothic-std, monospace;
  font-weight: 600;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 8vmin;
          padding-inline-start: 8vmin;
  -webkit-padding-end: 8vmin;
          padding-inline-end: 8vmin;
  color: #a6034d;
  -webkit-transition: ease-in .5s;
  transition: ease-in .5s;
}

ul li {
  font-size: 1rem;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30vmax 1fr;
      grid-template-columns: 1fr 30vmax 1fr;
  grid-auto-rows: minmax(30px, auto);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5vmax;
  padding-bottom: 1.1vmax;
  color: black;
}

ul li .item {
  margin-right: auto;
  width: 100%;
  justify-self: flex-start;
  text-align: end;
  font-weight: 700;
}

ul li .price {
  margin-left: auto;
  width: 100%;
}

ul li .description {
  margin: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

ul > li:nth-child(1) {
  padding-top: 3.3vmax;
}

#menu-title {
  font-size: 1.5rem;
}

#contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  gap: 10vh;
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-box-direction: normal;
  border-radius: 10px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  background: #ffa981;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.3rem;
}

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6.6vmax;
  width: 100%;
}

#logo-wrapper {
  width: 100%;
  margin-top: auto;
}

#logo-wrapper #logo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 25vmin;
}

.contact-info {
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-margin-end: .5em;
          margin-inline-end: .5em;
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  width: 100%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  cursor: pointer;
}

.contact-info:hover {
  -webkit-text-decoration: .2px solid black underline;
          text-decoration: .2px solid black underline;
}

#info-wrapper {
  font-family: letter-gothic-std, monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-box-direction: normal;
  padding: 9.1vmax;
  border-radius: 10px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  background: #ffa981;
}

#info-wrapper:hover {
  -webkit-box-shadow: inset 11px -13px 0px 11px #feb45591, inset 0 0 0px 20px #d52e3054;
          box-shadow: inset 11px -13px 0px 11px #feb45591, inset 0 0 0px 20px #d52e3054;
}

.sticky {
  position: fixed;
  top: 0;
  width: 95vw;
}

.sticky + .content-class {
  padding-top: 102px;
}

@media only screen and (max-width: 768px) {
  #header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 20px 5px 20px;
    width: 100vw;
  }
  #header #title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    font-size: 11vmin;
  }
  .sticky {
    margin: 0;
  }
}

#pw {
  padding-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */